.header-top-phone a {
    text-decoration: none;
}

.header-top-phone a:hover {
    text-decoration: underline
}

ul.social-icons {
    list-style-type: none;
    margin-bottom: 0;
    padding: 0;
}

ul.social-icons li {
    margin-right: 10px;
}

ul.social-icons a {
    background-color: var(--accent-color);
    color: var(--contrast-color);
    width: 30px;
    height: 30px;
    line-height: 30px;
    border-radius: 50%;
    float: left;
    text-align: center;
    transition: all 0.3s;
}

ul.social-icons a:hover {
    background-color: var(--contrast-color);
    color: var(--accent-color);
}

.header-top .btn {
    background-color: #fff;
}

.header-logo {
    text-decoration: none;
    text-transform: uppercase;
    color: var(--accent-color);
    transition: all 0.3s;
}

.header-logo:hover {
    color: var(--contrast-color);
}

.cart-buttons .btn {
    color: var(--contrast-color);
    transition: all 0.3s;
}

.cart-buttons .btn:hover {
    border: 1px solid var(--contrast-color);
}

.header-bottom {
    border-top: 3px solid var(--accent-color);
    box-shadow: 0 10px 10px rgba($color: #000, $alpha: 0.3);
}

.header-bottom .navbar,
.header-bottom .navbar .dropdown-menu {
    background-color: var(--contrast-color) !important;
}

.header-bottom .navbar .nav-link {
    color: #fff;
    transition: all 0.3s;
    letter-spacing: 0.1rem;
}

.header-bottom .navbar .nav-link:hover {
    color: var(--accent-color);
}

.header-bottom .navbar .nav-link.active {
    color: var(--accent-color);
}

.header-bottom .navbar .dropdown-menu {
    margin-top: 7px;
}

.headernav-scroll.header-bottom .navbar .offcanvas:not(.show) .nav-link {
    padding-top: 0.3rem;
    padding-bottom: 0.3rem;
}

//header rules

@media only screen and (min-width:992px) {
    .header-bottom .navbar .dropdown-menu-end {
        margin-left: 0;
        border: 0;
    }

    .header-bottom .navbar .nav-link {
        padding: 1rem;
    }
}

@media only screen and (max-width:991.98px) {
    .header-bottom .navbar .dropdown-menu {
        padding-left: 1rem;
    }
}

