//colors
$white : #fff;
$MountainMeadow : #1A9787;
$MineShaft : #353535;
$Serenade : #FFF5E9;
$Cabaret :#D53863;
$Seashell : #F1F1F1;
$Skeptic : #D7EAE8;
$BayLeaf: #54C9BA;
$Nebula : #C7D8D6;
$MineShaft--solid: #323232;