.center {
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    grid-template-rows: 620px;
    grid-auto-flow: row;
    grid-gap: 20px;
    margin-top: 100px;
}
.center__prof {
    grid-column: 1 / span 6;
    border-radius: 0px 50px 50px 0px;
    background: #D7EAE8;
}
.center__heart {
    grid-column: 8 / span 5;
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    row-gap: 55px;
    overflow: hidden;
}

.center__heart-logo {
    max-width: 415px;
}

.center__heart .btn--green-fill {
    max-width: 392px;
    max-height: 83px;
    padding: 33px 100px 28px 100px;
    position: static;
}

.center__prof {
    padding: 50px 103px 120px 0;
}

.center__prof-wrap {
    padding: 30px;
    background-color: $white;
    border-radius: 12px;
    height: 100%;
    width: 100%;
    position: relative;
}

.center__number {
    display: inline;
    color: $BayLeaf;
    font-size: 65px;
    font-weight: 300;
    margin-right: 20px;
}

.center__number::after {
    content: "";
    display: inline-block;
    width: 3px;
    height: 58px;
    background-color: $BayLeaf;
    position: relative;
    top: 12px;
    margin-left: 20px;
}

.center__number-2 {
    display: inline;
    color: $BayLeaf;
    font-size: 35px;
    font-weight: 500;
    position: relative;
    top: -9px;
}

.center__title {
    color: $MountainMeadow;
    font-size: 35px;
    font-weight: 900;
    margin-top: 30px;
}
.center__desc {
    color: $MineShaft;
    font-size: 18px;
    font-weight: 700;
    margin-top: 20px;
    max-width: 302px;
}

.center__arrow {
    display: block;
    background: url('../img/center/arrow--black.svg') center / contain no-repeat;
    width: 17px;
    height: 30px;
}
.center__arrow-left {
    position: absolute;
    bottom: 47px;
    left: 37px;
}
.center__arrow-right {
    position: absolute;
    bottom: 47px;
    right: 37px;
    scale: -100%;
}

.center__nav-bar {
    width: 100%;
    height: 4px;
    background-color: $Nebula;
    position: absolute;
    bottom: -50px;
    left: 0 ;
}
.center__nav-bar--fill {
    width: 186px;
    height: 100%;
    background-color: $MineShaft--solid;
}
