//colors
$primary : #FF5A30;
$white : #FFFFFF;
$info : #5A87FC;
$gray-200 : #F4F5F6;
$gray-300 : #E5E8ED;
$gray-400 : #D7DADD;
$gray-600 : #9A9CA5;
$gray-700 : #787A80;
$gray-800 : #424551;
$gray-900 : #1E212C;