:root {
    --white: #fff;
    --black: #171718;
    --black-border: #26292D;
    --purple: #5C62EC;

    --text-color: var(--black);
    --dark-bg: var(--black);
    --tab-border: var(--tab-border);
    --header-text: var(--white);
    --accent: var(--purple);
}