:root {
    --white: #fff;
    --black: #171718;
    --black-border: #26292D;
    --purple: #5C62EC;

    --text-color: var(--black);

    --dark-bg: var(--black);
    --tab-border: var(--tab-border);
    --header-text: var(--white);
    --accent: var(--purple);

    //light mode
    --page-bg: var(--white);
    --text-color: var(--black);

    --title-1: var(--accent);

    --project-card-bg:var(--white);
    --project-card-text: var(--black);
    --box-shadow: 0px 5px 35px 0px rgba(0, 0, 0, 0.25); 
}
 